<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a>
          
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/albumes" routerLinkActive="active">Albumes</a>
            
          </li>
  
          <li class="nav-item">
          <a class="nav-link" routerLink="/publicaciones" routerLinkActive="active">Publicaciònes</a>
          
          </li>
        
      </ul>
     
    </div>
  </nav>
